body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

#content {
    margin: 3em;
    overflow-y: scroll;
    position: relative;
}

.subtitle {
    font-family: 'Playfair Display', serif;
    display: block;
    font-weight: 900;
}

.navigation {
    width: 100%;
    background-color: #F9F9F9;
    margin: 0px;
    padding: 10px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.07);
}

.return-link {
    font-size: 11px;
    color: #CCCCCC;
    text-decoration: none;
}

#banner {
    background-color: #426BFB;
    padding: 30px;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
    overflow-y: scroll;
    height: 900px;
}

.nav-link {
    text-decoration: none;
    border: none;
    outline: none;
    display: block;
    margin: 10px 0px;
    text-align: left;
    background: none;
}

.nav-link:hover {
    color: #426BFB;
}

.header {
    font-weight: 600;
}